{
	"blacklist": [
		"es6.classes",
		"es6.arrowFunctions",
		"es6.blockScoping",
		"es6.constants",
		"es6.forOf",
		"es6.objectSuper",
		"es6.templateLiterals",
		"flow",
		"react",
		"spec.blockScopedFunctions",
		"spec.functionName",
		"validation.react"
	]
}
